# build artefacts
*.o
*.a
# build artefacts
*.o
*.a
*.so
*.out
a.out

*.txt

# build dirs (anywhere in repo)
**/build/
lib/
**/debug/
**/clangd/

# clangd / tooling
compile_commands.json
**/compile_commands.json

# editor junk
*.swp
*.swo
*~
